* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.login,
.register {
  width: 50%;
  margin: 10rem auto;
}

.hero {
  margin: 3rem 10rem;
}
.search-field {
  margin: 5rem 1rem 10rem;
}
.search-field-ham {
  margin: 3rem 1rem;
}

/* ----- */

.hotels-h1,
.flight-h1 {
  margin: 2rem 0;
}
.topPage-hotels-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.topPage-hotel {
  display: inline;
  margin: 1rem;
  /* transition: 0.3s; */
  position: relative;
}
.topPage-img {
  border-radius: 20px;
  width: 350px;
  height: 230px;
  transition: 0.3s;
}
.topPage-hotel:hover .topPage-img {
  opacity: 0.5;
  z-index: -1;
}
.hotel-info-hover {
  width: 350px;
  height: 230px;
  background-color: rgba(120, 120, 120, 0.1);
  border-radius: 20px;
  transition: 0.1s;
  z-index: -3;

  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hotel-hr {
  width: 50%;
  height: 1px;
  margin: 1rem auto;
  background-color: #333;
  border: none;
}
.topPage-hotel:hover .hotel-info-hover {
  z-index: 100;
}

.topPage-flight-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.topPage-flight {
  margin: 1rem;
  /* background-color: royalblue; */
  border-radius: 20px;
}
.flight-link {
  text-decoration: none;
  color: #333;
}
.flight-info {
  /* color: #fff; */
  padding: 2rem 5rem;
}

.booking-page-img {
  width: 500px;
  height: auto;
}
.booking-page-img img {
  width: 100%;
}
