* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.home {
  text-align: center;
}

.login,
.register {
  width: 50%;
  margin: 10rem auto;
}

.nav-auth-icon {
  position: relative;
  align-items: center;
  cursor: pointer;
}
.nav-auth {
  position: absolute;
  bottom: -115px;
  right: 1.5rem;
  background-color: #fff;
  width: 100px;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  z-index: 2;
}
.auth-line {
  width: 50%;
  height: 2px;
  background-color: rgb(108, 117, 125);
  margin: 0 auto;
}

.hero {
  padding: 3rem 10rem;
  position: relative;
}
.hero-text {
  letter-spacing: 2px;
}
.form-container {
  z-index: 1;
}

.cal {
  position: relative;
  cursor: pointer;
}
.calender {
  position: absolute;
  top: 30px;
  left: 0;
  background-color: #fff;
  z-index: 2;
}
.peopleOptions {
  cursor: pointer;
}
.options {
  position: absolute;
  background-color: #fff;
  width: 200px;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  z-index: 2;
}
.optionItem {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}
.optionCounter {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.optionCounterButton {
  width: 25px;
  height: 25px;
  border: 1px solid #333;
  color: #333;
  cursor: pointer;
  background-color: white;
}
.optionCounterButton:disabled {
  border-color: #ccc;
  cursor: default;
}

.search-field {
  margin: 5rem 1rem 10rem;
}
.search-field-ham {
  margin: 3rem 1rem;
}

/* ----- */

.hotels-h1,
.flight-h1 {
  margin: 2rem 0;
}
.topPage-hotels-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.topPage-hotel {
  display: inline;
  margin: 1rem;
  /* transition: 0.3s; */
  position: relative;
}
.topPage-img {
  border-radius: 20px;
  width: 350px;
  height: 230px;
  transition: 0.3s;
}
.topPage-hotel:hover .topPage-img {
  opacity: 0.2;
  z-index: -1;
}
.hotel-info-hover {
  width: 350px;
  height: 230px;
  background-color: rgba(120, 120, 120, 0.1);
  border-radius: 20px;
  transition: 0.1s;
  z-index: -3;
  cursor: pointer;

  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hotel-hr {
  width: 50%;
  height: 1px;
  margin: 1rem auto;
  background-color: #333;
  border: none;
}
.topPage-hotel:hover .hotel-info-hover {
  z-index: 100;
}

.hotel-link,
.flight-link {
  text-decoration: none;
  color: #333;
}

.topPage-flight-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.topPage-flight {
  margin: 1rem;
  /* background-color: royalblue; */
  border-radius: 20px;
}
.flight-info {
  /* color: #fff; */
  padding: 2rem 5rem;
}

.booking-page-img {
  width: 500px;
  height: auto;
}
.booking-page-img img {
  width: 100%;
}
